@import "../variables";

.GeneratorForm {
	@include flex-column;
	margin-right: 30%;
}

.GeneratorForm-row:not(:first-child) {
	margin-top: $padding-l;
}

.GeneratorForm-row-content {
	margin-top: $padding-s;
}

input[type="text"] {
	height:  48px;
	width:   100%;
	padding: $padding-input;

	background: $bg-color-input;
	color:      $fg-color-input;

	border:     none;
	box-shadow: $shadow-input;
}