.Screen, .ResultScreen {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: stretch; }

.Screen-buttons, .ResultScreen-buttons {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-items: center;
  justify-content: center; }
  .Screen-buttons > :not(:last-child), .ResultScreen-buttons > :not(:last-child) {
    margin-right: 24px; }

.ResultScreen-result {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.ResultScreen-resultLabel {
  color: #777;
  font-size: 16px; }
